In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import plotly.express as px

from scipy import stats

import seaborn as sns

plt.rcParams['font.family']=['Times New Roman']

In [2]:
# Read Hpv data
file_address = '../Data/Merged_data/NassauCountyHPV.xlsx'

df_hpv_nassau = pd.read_excel(file_address)

file_address = '../Data/Merged_data/SuffolkCountyHPV.xlsx'

df_hpv_suffolk = pd.read_excel(file_address)

# Read TDAP data
file_address = '../Data/Merged_data/NassauCountyTDAP.xlsx'

df_tdap_nassau = pd.read_excel(file_address)

file_address = '../Data/Merged_data/SuffolkCountyTDAP.xlsx'

df_tdap_suffolk = pd.read_excel(file_address)

In [7]:
df_tdap_nassau['vax_year'].unique()

array([2021, 2017, 2020, 2008, 2014, 2013, 2019, 2011, 2012, 2018, 2016,
       2010, 2009, 2015, 2023, 2022], dtype=int64)

In [8]:
df_tdap_nassau

,client_id,vax_month,vax_year,RACE_DESC,ETHNICITY_DESC,PatientAge,Trade_name,PatientZip,PatientCounty,ProviderCounty,GENDER
0,6087006,3,2021,UNKNOWN,UNKNOWN,11,Boostrix,0.0,Nassau,Nassau,M
1,5402015,1,2017,WHITE,NOT HISPANIC OR LATINO,22,Unspecified,2169.0,Nassau,Nassau,F
2,4992557,8,2020,WHITE,HISPANIC OR LATINO,11,Unspecified,5132.0,Nassau,Nassau,F
3,6488832,3,2008,OTHER,UNKNOWN,15,Adacel,6510.0,Nassau,Dutchess,M
4,17966581,4,2021,WHITE,NOT HISPANIC OR LATINO,34,Adacel,6525.0,Nassau,Nassau,M
...,...,...,...,...,...,...,...,...,...,...,...
547457,25255957,3,2023,ASIAN,NOT HISPANIC OR LATINO,50,Unspecified,11507.0,Nassau,New York,M
547458,25255960,8,2023,ASIAN,NOT HISPANIC OR LATINO,8,Unspecified,11001.0,Nassau,New York,M
547459,25255962,3,2022,OTHER,HISPANIC OR LATINO,34,Unspecified,11096.0,Nassau,New York,M
547460,25257514,9,2022,OTHER,HISPANIC OR LATINO,13,Unspecified,11580.0,Nassau,Nassau,M
547461,25258136,8,2023,OTHER,UNKNOWN,17,Boostrix,11575.0,Nassau,Nassau,M