In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [20]:
# Read Hpv data
file_address = '../Data/NassauCountyHPV.csv'

df_hpv_nassau = pd.read_csv(file_address)

file_address = '../Data/SuffolkCountyHPV.csv'

df_hpv_suffolk = pd.read_csv(file_address)

In [21]:
# Read TDAP data
file_address = '../Data/NassauCountyTDAP.csv'

df_tdap_nassau = pd.read_csv(file_address)

file_address = '../Data/SuffolkCountyTDAP.csv'

df_tdap_suffolk = pd.read_csv(file_address)

In [14]:
file_address = '../Data/longislandzip.csv'

df_zipcode = pd.read_csv(file_address)

In [10]:
df_hpv_nassau

,client_id,vax_month,vax_year,RACE_DESC,ETHNICITY_DESC,PatientAge,Trade_name,PatientZip,PatientCounty,ProviderCounty,GENDER
0,9910,7,2017,WHITE,NOT HISPANIC OR LATINO,24,Gardasil 9,11756.0,Nassau,Nassau,M
1,12409,6,2019,OTHER,NOT HISPANIC OR LATINO,22,Gardasil,11590.0,Nassau,Nassau,M
2,12409,8,2019,OTHER,NOT HISPANIC OR LATINO,22,Gardasil 9,11590.0,Nassau,Nassau,M
3,21455,1,2013,ASIAN,NOT HISPANIC OR LATINO,17,Gardasil,11040.0,Nassau,New York,M
4,21656,1,2008,BLACK OR AFRICAN-AMERICAN,NOT HISPANIC OR LATINO,15,Gardasil,11520.0,Nassau,Broome,F
...,...,...,...,...,...,...,...,...,...,...,...
415193,23574745,8,2018,UNKNOWN,UNKNOWN,13,Gardasil 9,11510.0,Nassau,Nassau,F
415194,23577049,12,2019,WHITE,NOT HISPANIC OR LATINO,12,Unspecified,11791.0,Nassau,Nassau,F
415195,23577049,6,2020,WHITE,NOT HISPANIC OR LATINO,12,Gardasil 9,11791.0,Nassau,Nassau,F
415196,23577071,6,2019,ASIAN,NOT HISPANIC OR LATINO,12,Gardasil 9,11753.0,Nassau,New York,M
415197,23577071,1,2020,ASIAN,NOT HISPANIC OR LATINO,13,Gardasil 9,11753.0,Nassau,New York,M

In [86]:
df_tdap_nassau

,client_id,vax_month,vax_year,RACE_DESC,ETHNICITY_DESC,PatientAge,Trade_name,PatientZip,PatientCounty,ProviderCounty,GENDER
29,532375,11,2010,WHITE,NOT HISPANIC OR LATINO,10,Unspecified,11001.0,Nassau,Nassau,F
30,591190,2,2010,WHITE,NOT HISPANIC OR LATINO,20,Unspecified,11001.0,Nassau,Seneca,F
31,805052,4,2015,OTHER,HISPANIC OR LATINO,11,Unspecified,11001.0,Nassau,Nassau,M
32,806808,8,2013,OTHER,NOT HISPANIC OR LATINO,11,Unspecified,11001.0,Nassau,Nassau,F
33,806823,9,2018,BLACK OR AFRICAN-AMERICAN,NOT HISPANIC OR LATINO,11,Adacel,11001.0,Nassau,Nassau,F
...,...,...,...,...,...,...,...,...,...,...,...
417962,4087448,9,2011,UNKNOWN,UNKNOWN,7,DAPTACEL,11950.0,Nassau,Nassau,F
417963,11746886,12,2015,OTHER,HISPANIC OR LATINO,41,Unspecified,11950.0,Nassau,Suffolk,M
417964,15759761,4,2019,UNKNOWN,NOT HISPANIC OR LATINO,60,Unspecified,11951.0,Nassau,Suffolk,F
417965,19433895,9,2021,WHITE,NOT HISPANIC OR LATINO,58,Unspecified,11956.0,Nassau,Suffolk,M
417966,17172845,7,2020,BLACK OR AFRICAN-AMERICAN,NOT HISPANIC OR LATINO,47,Unspecified,11967.0,Nassau,Suffolk,F

In [22]:
print(len(df_hpv_nassau))
print(len(df_hpv_suffolk))
print(len(df_tdap_nassau))
print(len(df_tdap_suffolk))

415198
449593
420314
471029

In [23]:
# Data Samples Without zipcode
print('Nassau N/A zipcode samples in HPV:', df_hpv_nassau['PatientZip'].isnull().sum())
print('Suffolk N/A zipcode samples in HPV:', df_hpv_suffolk['PatientZip'].isnull().sum())
print('Nassau N/A zipcode samples in TDAP:', df_tdap_nassau['PatientZip'].isnull().sum())
print('Suffokl N/A zipcode samples in TDAP:', df_tdap_suffolk['PatientZip'].isnull().sum())

Nassau N/A zipcode samples in HPV: 3001
Suffolk N/A zipcode samples in HPV: 4829
Nassau N/A zipcode samples in TDAP: 2308
Suffokl N/A zipcode samples in TDAP: 3433

In [24]:
# Data Samples with zipcode not On the Long Island(Suffolk and Nassau)
zips = np.array(df_zipcode['zip'])

condition = (~df_hpv_nassau['PatientZip'].isin(zips))
print(len(df_hpv_nassau[condition]))
condition = (~df_hpv_suffolk['PatientZip'].isin(zips))
print(len(df_hpv_suffolk[condition]))
condition = (~df_tdap_nassau['PatientZip'].isin(zips))
print(len(df_tdap_nassau[condition]))
condition = (~df_tdap_suffolk['PatientZip'].isin(zips))
print(len(df_tdap_suffolk[condition]))

3321
5024
2580
3628

In [46]:
len(zips)

220

In [25]:
# Clean Data , drop N/A zipcode
df_hpv_nassau.dropna(subset=['PatientZip'], inplace=True)
df_hpv_suffolk.dropna(subset=['PatientZip'], inplace=True)
df_tdap_nassau.dropna(subset=['PatientZip'], inplace=True)
df_tdap_suffolk.dropna(subset=['PatientZip'], inplace=True)

In [26]:
print(len(df_hpv_nassau))
print(len(df_hpv_suffolk))
print(len(df_tdap_nassau))
print(len(df_tdap_suffolk))

412197
444764
418006
467596

In [27]:
# Clean Data, drop zipcode not on the Long Island
df_hpv_nassau = df_hpv_nassau[df_hpv_nassau['PatientZip'].isin(zips)]
df_hpv_suffolk = df_hpv_suffolk[df_hpv_suffolk['PatientZip'].isin(zips)]
df_tdap_nassau = df_tdap_nassau[df_tdap_nassau['PatientZip'].isin(zips)]
df_tdap_suffolk = df_tdap_suffolk[df_tdap_suffolk['PatientZip'].isin(zips)]

In [28]:
print(len(df_hpv_nassau))
print(len(df_hpv_suffolk))
print(len(df_tdap_nassau))
print(len(df_tdap_suffolk))

411877
444569
417734
467401

In [13]:
df_tdap_suffolk['vax_year'].unique()

array([2008, 2016, 2021, 2010, 2019, 2013, 2009, 2017, 2011, 2018, 2012,
       2015, 2020, 2014])

### Generate 2015 vaccine rate

In [15]:
df_zipcode

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2015
0,501,UNIQUE,0,Holtsville,NaN,I R S Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,544,UNIQUE,0,Holtsville,NaN,Irs Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,6390,PO BOX,0,Fishers Island,Fishers Isle,NaN,NY,Suffolk County,America/New_York,631,NaN,US,41.27,-71.99,286
3,11001,STANDARD,0,Floral Park,"Bellerose Vil, Bellerose Village, S Floral Par...","Bellerose Terrace, Bellrose Village, So Floral...",NY,Nassau County,America/New_York,"516,718",NaN,US,40.72,-73.70,26970
4,11003,STANDARD,0,Elmont,"Alden Manor, Floral Park, Meacham","Argo Village, Locustwood",NY,Nassau County,America/New_York,516,NaN,US,40.70,-73.70,44160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,11975,PO BOX,0,Wainscott,NaN,NaN,NY,Suffolk County,America/New_York,631,NaN,US,40.94,-72.24,1196
216,11976,STANDARD,0,Water Mill,NaN,"Watermill, Wtr Mill",NY,Suffolk County,America/New_York,631,NaN,US,40.92,-72.34,2070
217,11977,STANDARD,0,Westhampton,NaN,"W Hampton, West Hampton",NY,Suffolk County,America/New_York,631,NaN,US,40.83,-72.68,2380
218,11978,STANDARD,0,Westhampton Beach,W Hampton Bch,"Quioque, W Hampton Beach, West Hampton Beach, ...",NY,Suffolk County,America/New_York,631,NaN,US,40.83,-72.65,3420
219,11980,STANDARD,0,Yaphank,NaN,Carver Park,NY,Suffolk County,America/New_York,631,NaN,US,40.83,-72.92,3960

In [19]:
df_zipcode['county'].unique()

array(['Suffolk County', 'Nassau County'], dtype=object)

In [30]:
populations = np.array(df_zipcode['irs_estimated_population_2015'])

In [31]:
zips

array([  501,   544,  6390, 11001, 11003, 11010, 11020, 11021, 11022,
       11023, 11024, 11025, 11026, 11027, 11030, 11040, 11041, 11042,
       11043, 11044, 11050, 11051, 11052, 11053, 11054, 11055, 11096,
       11099, 11501, 11507, 11509, 11510, 11514, 11516, 11518, 11520,
       11530, 11531, 11535, 11536, 11542, 11545, 11547, 11548, 11549,
       11550, 11551, 11552, 11553, 11554, 11555, 11556, 11557, 11558,
       11559, 11560, 11561, 11563, 11565, 11566, 11568, 11569, 11570,
       11571, 11572, 11575, 11576, 11577, 11579, 11580, 11581, 11582,
       11590, 11592, 11594, 11595, 11596, 11597, 11598, 11599, 11701,
       11702, 11703, 11704, 11705, 11706, 11707, 11708, 11709, 11710,
       11713, 11714, 11715, 11716, 11717, 11718, 11719, 11720, 11721,
       11722, 11724, 11725, 11726, 11727, 11729, 11730, 11731, 11732,
       11733, 11735, 11736, 11737, 11738, 11739, 11740, 11741, 11742,
       11743, 11746, 11747, 11749, 11750, 11751, 11752, 11753, 11754,
       11755, 11756, 11757, 11758, 11760, 11762, 11763, 11764, 11765,
       11766, 11767, 11768, 11769, 11770, 11771, 11772, 11773, 11774,
       11775, 11776, 11777, 11778, 11779, 11780, 11782, 11783, 11784,
       11786, 11787, 11788, 11789, 11790, 11791, 11792, 11793, 11794,
       11795, 11796, 11797, 11798, 11801, 11802, 11803, 11804, 11815,
       11819, 11853, 11854, 11855, 11901, 11930, 11931, 11932, 11933,
       11934, 11935, 11937, 11939, 11940, 11941, 11942, 11944, 11946,
       11947, 11948, 11949, 11950, 11951, 11952, 11953, 11954, 11955,
       11956, 11957, 11958, 11959, 11960, 11961, 11962, 11963, 11964,
       11965, 11967, 11968, 11969, 11970, 11971, 11972, 11973, 11975,
       11976, 11977, 11978, 11980])

In [47]:
result = df_hpv_nassau

In [46]:
len(df_hpv_nassau)

411877

In [49]:
result

,client_id,vax_month,vax_year,RACE_DESC,ETHNICITY_DESC,PatientAge,Trade_name,PatientZip,PatientCounty,ProviderCounty,GENDER
0,9910,7,2017,WHITE,NOT HISPANIC OR LATINO,24,Gardasil 9,11756.0,Nassau,Nassau,M
1,12409,6,2019,OTHER,NOT HISPANIC OR LATINO,22,Gardasil,11590.0,Nassau,Nassau,M
2,12409,8,2019,OTHER,NOT HISPANIC OR LATINO,22,Gardasil 9,11590.0,Nassau,Nassau,M
3,21455,1,2013,ASIAN,NOT HISPANIC OR LATINO,17,Gardasil,11040.0,Nassau,New York,M
4,21656,1,2008,BLACK OR AFRICAN-AMERICAN,NOT HISPANIC OR LATINO,15,Gardasil,11520.0,Nassau,Broome,F
...,...,...,...,...,...,...,...,...,...,...,...
415193,23574745,8,2018,UNKNOWN,UNKNOWN,13,Gardasil 9,11510.0,Nassau,Nassau,F
415194,23577049,12,2019,WHITE,NOT HISPANIC OR LATINO,12,Unspecified,11791.0,Nassau,Nassau,F
415195,23577049,6,2020,WHITE,NOT HISPANIC OR LATINO,12,Gardasil 9,11791.0,Nassau,Nassau,F
415196,23577071,6,2019,ASIAN,NOT HISPANIC OR LATINO,12,Gardasil 9,11753.0,Nassau,New York,M
415197,23577071,1,2020,ASIAN,NOT HISPANIC OR LATINO,13,Gardasil 9,11753.0,Nassau,New York,M

In [50]:
result2015 = result[result['vax_year']==2015]

In [53]:
result2015 = result2015.drop_duplicates(subset=['client_id'])

In [57]:
result2015['PatientZip'] = result2015['PatientZip'].astype(int)

In [59]:
zipcode_count = result2015['PatientZip'].value_counts().reset_index()
zipcode_count.columns = ['PatientZip', 'NumClients']

In [60]:
zipcode_count

     PatientZip  NumClients
0         11550        2400
1         11520        1447
2         11590        1404
3         11580        1230
4         11003        1221
..          ...         ...
100       11025           1
101       11052           1
102       11571           1
103       11763           1
104       11784           1

[105 rows x 2 columns]

In [ ]:
result_s = df_hpv_suffolk

In [63]:
df_t = pd.concat([df_hpv_suffolk,df_hpv_nassau])

In [65]:
len(df_t)

856446

In [67]:
df_t2015=df_t[df_t['vax_year']<=2015]
len(df_t2015)

378961

In [69]:
df_t2015_distinct = df_t2015.drop_duplicates(subset=['client_id'])
len(df_t2015_distinct)

183752

In [70]:
zipcode_count = df_t2015_distinct['PatientZip'].value_counts().reset_index()
zipcode_count.columns = ['PatientZip', 'NumClients']

In [71]:
zipcode_count

     PatientZip  NumClients
0       11717.0        6129
1       11550.0        5814
2       11706.0        4713
3       11746.0        4690
4       11003.0        3678
..          ...         ...
202     11531.0           1
203     11774.0           1
204       501.0           1
205     11051.0           1
206     11594.0           1

[207 rows x 2 columns]

In [72]:
zips

array([  501,   544,  6390, 11001, 11003, 11010, 11020, 11021, 11022,
       11023, 11024, 11025, 11026, 11027, 11030, 11040, 11041, 11042,
       11043, 11044, 11050, 11051, 11052, 11053, 11054, 11055, 11096,
       11099, 11501, 11507, 11509, 11510, 11514, 11516, 11518, 11520,
       11530, 11531, 11535, 11536, 11542, 11545, 11547, 11548, 11549,
       11550, 11551, 11552, 11553, 11554, 11555, 11556, 11557, 11558,
       11559, 11560, 11561, 11563, 11565, 11566, 11568, 11569, 11570,
       11571, 11572, 11575, 11576, 11577, 11579, 11580, 11581, 11582,
       11590, 11592, 11594, 11595, 11596, 11597, 11598, 11599, 11701,
       11702, 11703, 11704, 11705, 11706, 11707, 11708, 11709, 11710,
       11713, 11714, 11715, 11716, 11717, 11718, 11719, 11720, 11721,
       11722, 11724, 11725, 11726, 11727, 11729, 11730, 11731, 11732,
       11733, 11735, 11736, 11737, 11738, 11739, 11740, 11741, 11742,
       11743, 11746, 11747, 11749, 11750, 11751, 11752, 11753, 11754,
       11755, 11756, 11757, 11758, 11760, 11762, 11763, 11764, 11765,
       11766, 11767, 11768, 11769, 11770, 11771, 11772, 11773, 11774,
       11775, 11776, 11777, 11778, 11779, 11780, 11782, 11783, 11784,
       11786, 11787, 11788, 11789, 11790, 11791, 11792, 11793, 11794,
       11795, 11796, 11797, 11798, 11801, 11802, 11803, 11804, 11815,
       11819, 11853, 11854, 11855, 11901, 11930, 11931, 11932, 11933,
       11934, 11935, 11937, 11939, 11940, 11941, 11942, 11944, 11946,
       11947, 11948, 11949, 11950, 11951, 11952, 11953, 11954, 11955,
       11956, 11957, 11958, 11959, 11960, 11961, 11962, 11963, 11964,
       11965, 11967, 11968, 11969, 11970, 11971, 11972, 11973, 11975,
       11976, 11977, 11978, 11980])

In [73]:
populations

array([  562,     0,   286, 26970, 44160, 23400,  6230, 17310,   603,
        8930,  6710,     0,     0,     0, 18210, 42610,     0,   380,
           0,     0, 29680,     0,     0,     0,     0,     0,  7670,
           0, 19150,  7610,  2290, 32870,  4590,  7990, 10240, 42530,
       28860,   176,     0,     0, 23880, 11620,  1045,  1270,    32,
       52300,  1239, 24880, 25970, 37020,     0,    14,  8080,  7560,
        8450,  6320, 31560, 21470,  8900, 35900,  3240,  1554, 27160,
         266, 30290, 16430, 12540, 12260,  4910, 41510, 21490,   483,
       46820,     0,     0,     0, 10700,     0, 14000,     0, 25360,
       13780, 16530, 37590,  7800, 61130,   134,     0,  6420, 34190,
       10260, 22770,  4440, 10000, 62310,  3360,  2850, 27560,  6310,
       35510,  3400, 28920, 19870, 26240, 27300, 13780, 29720,  3420,
       17080, 31420,    20,     0, 16060,  1506,  9040, 26800, 12710,
       40850, 64640, 20620,  3210,     0, 13860,  9640, 13670, 18020,
       11530, 42530, 42700, 53360,     0, 22720, 27060, 12640,   570,
       12300, 14220, 21220,  8750,   355,  9460, 40210,     0,     0,
           0, 22880,  8530, 11730, 36440, 14770, 15080, 20990, 23450,
        6340, 33510, 16510,  7150, 12860, 25660,  8340, 32350,    97,
       24760,  3600,  8620, 16130, 40280,   539, 28870,  5100,     0,
           0,     0,     0,     0, 23220,  2505,  2469,  1730,  6260,
        7930,  3250, 15590,   880,  5150,  2470,  4750,  3980, 13600,
        1482,  1120, 13770, 14960, 11800,  4600, 11600,  4300,  2920,
         360,   730,   810,  1395,  1461, 11600,   621,  6870,  1729,
         875, 24530,  9370,  2417,   405,  5440,   926,   438,  1196,
        2070,  2380,  3420,  3960])

In [74]:
zip_popu_dict = {}
for i in range(0,len(zips)):
    zip_popu_dict[zips[i]] = populations[i]

In [78]:
zipcode_count['PatientZip'][1]

11550.0

In [84]:
zip_rate_dict = {}
zip_rate = []
for i in range(0,len(zipcode_count)):
    if zipcode_count['NumClients'][i] > zip_popu_dict[zipcode_count['PatientZip'][i]]:
        print('incorrect answer',int(zipcode_count['PatientZip'][i]),'with' ,zipcode_count['NumClients'][i],'patients with populations of ',zip_popu_dict[zipcode_count['PatientZip'][i]])
        continue
    zip_rate_dict[zipcode_count['PatientZip'][i]] = zipcode_count['NumClients'][i]/zip_popu_dict[zipcode_count['PatientZip'][i]]

incorrect answer 11549 with 40 patients with populations of  32
incorrect answer 11773 with 7 patients with populations of  0
incorrect answer 11027 with 7 patients with populations of  0
incorrect answer 11708 with 4 patients with populations of  0
incorrect answer 11750 with 4 patients with populations of  0
incorrect answer 11026 with 4 patients with populations of  0
incorrect answer 11760 with 3 patients with populations of  0
incorrect answer 11535 with 3 patients with populations of  0
incorrect answer 11043 with 2 patients with populations of  0
incorrect answer 11044 with 2 patients with populations of  0
incorrect answer 11052 with 2 patients with populations of  0
incorrect answer 11737 with 2 patients with populations of  0
incorrect answer 11775 with 2 patients with populations of  0
incorrect answer 11595 with 1 patients with populations of  0
incorrect answer 11025 with 1 patients with populations of  0
incorrect answer 11599 with 1 patients with populations of  0
incorrect answer 11536 with 1 patients with populations of  0
incorrect answer 11054 with 1 patients with populations of  0
incorrect answer 11774 with 1 patients with populations of  0
incorrect answer 11051 with 1 patients with populations of  0
incorrect answer 11594 with 1 patients with populations of  0

In [85]:
zip_rate_dict

{11717.0: 0.09836302359171882,
 11550.0: 0.11116634799235181,
 11706.0: 0.07709798789465075,
 11746.0: 0.07255569306930693,
 11003.0: 0.08328804347826087,
 11520.0: 0.08561015753585705,
 11590.0: 0.07644169158479282,
 11580.0: 0.08614791616477957,
 11722.0: 0.09659250915235144,
 11040.0: 0.06320112649612766,
 11553.0: 0.10369657296881017,
 11743.0: 0.0627172582619339,
 11758.0: 0.04775112443778111,
 11772.0: 0.06282019398159662,
 11787.0: 0.07463443748134885,
 11801.0: 0.06055114200595829,
 11757.0: 0.05503512880562061,
 11779.0: 0.06221185510428101,
 11510.0: 0.06729540614542136,
 11704.0: 0.05666400638467677,
 11701.0: 0.08150630914826498,
 11554.0: 0.05559157212317666,
 11725.0: 0.0706777316735823,
 11756.0: 0.04744885962849753,
 11731.0: 0.06779946164199192,
 11901.0: 0.08660637381567614,
 11803.0: 0.06681676480775892,
 11001.0: 0.07148683722654801,
 11566.0: 0.05362116991643454,
 11735.0: 0.06040738383195417,
 11570.0: 0.0695139911634757,
 11763.0: 0.06729490022172949,
 11530.0: 0.06250866250866251,
 11720.0: 0.06440493468795355,
 11710.0: 0.051857268207078096,
 11050.0: 0.059400269541778974,
 11561.0: 0.05557667934093789,
 11967.0: 0.07048512026090502,
 11575.0: 0.10328667072428485,
 11542.0: 0.07093802345058627,
 11726.0: 0.0852038248616004,
 11552.0: 0.0680064308681672,
 11791.0: 0.06582229150428683,
 11798.0: 0.10446373217606944,
 11729.0: 0.06153846153846154,
 11572.0: 0.055133707494222514,
 11793.0: 0.05069551777434312,
 11776.0: 0.0701048951048951,
 11581.0: 0.07291763610981852,
 11795.0: 0.062399030694668824,
 11741.0: 0.05761194029850746,
 11727.0: 0.05689786585365854,
 11784.0: 0.06230277185501066,
 11937.0: 0.0900577293136626,
 11747.0: 0.06454898157129,
 11010.0: 0.05615384615384615,
 11563.0: 0.06054960409874243,
 11950.0: 0.08516042780748663,
 11714.0: 0.05353535353535353,
 11768.0: 0.056173421300659755,
 11733.0: 0.06733021077283373,
 11754.0: 0.062264150943396226,
 11788.0: 0.0665657177468201,
 11501.0: 0.05587467362924282,
 11946.0: 0.07647058823529412,
 11762.0: 0.04467429577464789,
 11767.0: 0.0710970464135021,
 11738.0: 0.06295143212951432,
 11030.0: 0.053322350356946734,
 11703.0: 0.058015728977616456,
 11780.0: 0.06140825998645904,
 11783.0: 0.0427822772748928,
 11753.0: 0.06569129480614484,
 11951.0: 0.07483050847457627,
 11713.0: 0.08596491228070176,
 11021.0: 0.050317735413056036,
 11764.0: 0.0682753164556962,
 11949.0: 0.05831517792302106,
 11545.0: 0.06901893287435457,
 11742.0: 0.06286388670338316,
 11730.0: 0.056966618287373004,
 11702.0: 0.056821480406386064,
 11751.0: 0.05649350649350649,
 11790.0: 0.0604199066874028,
 11766.0: 0.06276422764227642,
 11968.0: 0.0808964781216649,
 11782.0: 0.04946949602122016,
 11778.0: 0.06351236146632566,
 11598.0: 0.05307142857142857,
 11576.0: 0.05901116427432217,
 11577.0: 0.06019575856443719,
 11518.0: 0.07177734375,
 11755.0: 0.06261925411968777,
 11096.0: 0.08552803129074316,
 11953.0: 0.05517241379310345,
 11740.0: 0.06980088495575221,
 11596.0: 0.057850467289719626,
 11557.0: 0.0714108910891089,
 11716.0: 0.0561,
 11565.0: 0.061348314606741575,
 11777.0: 0.0627198124267292,
 11792.0: 0.06390887290167865,
 11020.0: 0.08346709470304976,
 11961.0: 0.04456896551724138,
 11771.0: 0.053171247357293866,
 11797.0: 0.05823665893271462,
 11786.0: 0.07854889589905363,
 11934.0: 0.062168978562421186,
 11752.0: 0.04896265560165975,
 11558.0: 0.0623015873015873,
 11507.0: 0.06149802890932983,
 11023.0: 0.05195968645016797,
 11560.0: 0.07183544303797468,
 11705.0: 0.05820512820512821,
 11769.0: 0.04982857142857143,
 11789.0: 0.05874125874125874,
 11804.0: 0.07901960784313726,
 11963.0: 0.05851528384279476,
 11024.0: 0.05752608047690015,
 11933.0: 0.06134185303514377,
 11559.0: 0.039171597633136095,
 11579.0: 0.06659877800407332,
 11709.0: 0.05077881619937695,
 11516.0: 0.04080100125156445,
 11940.0: 0.0625242718446602,
 11721.0: 0.05007923930269414,
 11944.0: 0.07311557788944724,
 11724.0: 0.07470588235294118,
 11978.0: 0.07280701754385965,
 11971.0: 0.04375,
 11954.0: 0.05465116279069768,
 11942.0: 0.049473684210526316,
 11568.0: 0.07253086419753087,
 11749.0: 0.07227414330218068,
 11514.0: 0.048583877995642705,
 11980.0: 0.05353535353535353,
 11952.0: 0.043260869565217394,
 11715.0: 0.0445945945945946,
 11718.0: 0.05267857142857143,
 11796.0: 0.04777777777777778,
 11930.0: 0.06067864271457086,
 11719.0: 0.05157894736842105,
 11977.0: 0.058403361344537816,
 11732.0: 0.04064327485380117,
 11935.0: 0.04,
 11955.0: 0.041438356164383565,
 11941.0: 0.048987854251012146,
 11509.0: 0.04890829694323144,
 11976.0: 0.051690821256038647,
 11548.0: 0.07716535433070866,
 11932.0: 0.051445086705202314,
 11931.0: 0.034831915755366545,
 11739.0: 0.053784860557768925,
 11569.0: 0.04826254826254826,
 11547.0: 0.06698564593301436,
 11960.0: 0.04654346338124572,
 11969.0: 0.025651634257343816,
 11948.0: 0.05178571428571429,
 11975.0: 0.046822742474916385,
 11964.0: 0.03007518796992481,
 11959.0: 0.03655913978494624,
 11972.0: 0.04859611231101512,
 11958.0: 0.05308641975308642,
 11939.0: 0.04431818181818182,
 11947.0: 0.019568151147098516,
 11765.0: 0.04912280701754386,
 11962.0: 0.04186795491143317,
 11965.0: 0.025142857142857144,
 11956.0: 0.041666666666666664,
 11582.0: 0.026915113871635612,
 11794.0: 0.13402061855670103,
 11957.0: 0.01643835616438356,
 11770.0: 0.030985915492957747,
 11707.0: 0.07462686567164178,
 11551.0: 0.008071025020177562,
 11556.0: 0.6428571428571429,
 11970.0: 0.019753086419753086,
 11802.0: 0.012987012987012988,
 11973.0: 0.0136986301369863,
 11571.0: 0.022556390977443608,
 11022.0: 0.006633499170812604,
 6390.0: 0.01048951048951049,
 11042.0: 0.005263157894736842,
 11736.0: 0.1,
 11531.0: 0.005681818181818182,
 501.0: 0.0017793594306049821}