This notebook are for the Population Distribution Calculation

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import plotly.express as px

from scipy import stats

import seaborn as sns

plt.rcParams['font.family']=['Times New Roman']

In [2]:
# Read Hpv data
file_address = '../Data/Merged_data/NassauCountyHPV.xlsx'

df_hpv_nassau = pd.read_excel(file_address)

file_address = '../Data/Merged_data/SuffolkCountyHPV.xlsx'

df_hpv_suffolk = pd.read_excel(file_address)

# Read TDAP data
file_address = '../Data/Merged_data/NassauCountyTDAP.xlsx'

df_tdap_nassau = pd.read_excel(file_address)

file_address = '../Data/Merged_data/SuffolkCountyTDAP.xlsx'

df_tdap_suffolk = pd.read_excel(file_address)

In [3]:
file_address = '../Data/Merged_data/Ageout_tdap.csv'

df_age_tdap = pd.read_csv(file_address)


file_address = '../Data/Merged_data/Ageout_hpv.csv'

df_age_hpv = pd.read_csv(file_address)


file_address = '../Data/Merged_data/Ageout_total.csv'

df_age_total = pd.read_csv(file_address)


file_address = '../Data/longislandzip.csv'

df_zipcode = pd.read_csv(file_address)

In [4]:
file_address = '../Data/longislandzip.csv'

df_zipcode = pd.read_csv(file_address)

In [14]:
zips = np.array(df_zipcode['zip'])

220

In [5]:
df_zipcode

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2015
0,501,UNIQUE,0,Holtsville,NaN,I R S Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,544,UNIQUE,0,Holtsville,NaN,Irs Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,6390,PO BOX,0,Fishers Island,Fishers Isle,NaN,NY,Suffolk County,America/New_York,631,NaN,US,41.27,-71.99,286
3,11001,STANDARD,0,Floral Park,"Bellerose Vil, Bellerose Village, S Floral Par...","Bellerose Terrace, Bellrose Village, So Floral...",NY,Nassau County,America/New_York,"516,718",NaN,US,40.72,-73.70,26970
4,11003,STANDARD,0,Elmont,"Alden Manor, Floral Park, Meacham","Argo Village, Locustwood",NY,Nassau County,America/New_York,516,NaN,US,40.70,-73.70,44160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,11975,PO BOX,0,Wainscott,NaN,NaN,NY,Suffolk County,America/New_York,631,NaN,US,40.94,-72.24,1196
216,11976,STANDARD,0,Water Mill,NaN,"Watermill, Wtr Mill",NY,Suffolk County,America/New_York,631,NaN,US,40.92,-72.34,2070
217,11977,STANDARD,0,Westhampton,NaN,"W Hampton, West Hampton",NY,Suffolk County,America/New_York,631,NaN,US,40.83,-72.68,2380
218,11978,STANDARD,0,Westhampton Beach,W Hampton Bch,"Quioque, W Hampton Beach, West Hampton Beach, ...",NY,Suffolk County,America/New_York,631,NaN,US,40.83,-72.65,3420
219,11980,STANDARD,0,Yaphank,NaN,Carver Park,NY,Suffolk County,America/New_York,631,NaN,US,40.83,-72.92,3960

In [24]:
arr = np.array(df_age_total['PatientZip'].unique())
arr = [f"{x:.0f}" if isinstance(x, float) and x.is_integer() else str(x) for x in arr]
patient_zip = np.array(list(map(str, arr)))

In [25]:
patient_zip

array(['11520', '11561', '11758', '11530', '11803', '11510', '11575',
       '11553', '11801', '11550', '11580', '11554', '11552', '11710',
       '11590', '11003', '11024', '11040', '11010', '11581', '11579',
       '11514', '11783', '11570', '11753', '11563', '11797', '11756',
       '11050', '11030', '11507', '11762', '11001', '11735', '11793',
       '11023', '11565', '11566', '11020', '11572', '11596', '11021',
       '11714', '11027', '11576', '11559', '11598', '11509', '11560',
       '11577', '11558', '11556', '11096', '11791', '11568', '11542',
       '11501', '11771', '11804', '11557', '11518', '11545', '11732',
       '11569', '11702', '11701', '11802', '11709', '11549', '11789',
       '11964', '11743', '11757', '11776', '11729', '11726', '11798',
       '11901', '11763', '11717', '11950', '11772', '11704', '11746',
       '11738', '11937', '11967', '11752', '11706', '11944', '11977',
       '11940', '11722', '11934', '11733', '11949', '11946', '11713',
       '11788', '11953', '11784', '11978', '11727', '11741', '11796',
       '11768', '11720', '11766', '11764', '11787', '11786', '11931',
       '11792', '11751', '11782', '11957', '11778', '11980', '11767',
       '11705', '11780', '11971', '11777', '11721', '11731', '11740',
       '11779', '11742', '11760', '11952', '11790', '11961', '11730',
       '11795', '11951', '11941', '11963', '11725', '11715', '11755',
       '11935', '11933', '11954', '11754', '11703', '11716', '11747',
       '11955', '11769', '11724', '11770', '11719', '11968', '11749',
       '11942', '11739', '11976', '11042', '11516', '11947', '11930',
       '11969', '11972', '11026', '11595', '11547', '11773', '11975',
       '11948', '11718', '11932', '11973', '11939', '11548', '11960',
       '11962', '11536', '11765', '11708', '11582', '11707', '11958',
       '11551', '11794', '11959', '11599', '11054', '11025', '11970',
       '11750', '11956', '11571', '11736', '11965', '11044', '11535',
       '11592', '11555', '11022', '501', '11737', '11774', '11775',
       '11051', '11043', '11597', '6390', '11052', '11531', '544',
       '11594', '11053', '11055', '11854'], dtype='<U5')

In [27]:
result = np.all(np.isin(patient_zip, zips))
result

True

In [29]:
# 找出 zips 中有而 patient_zip 中没有的元素
diff = np.setdiff1d(zips, patient_zip)
diff

array([11041, 11099, 11815, 11819, 11853, 11855], dtype=int64)

In [41]:
result = df_zipcode[df_zipcode['zip']==11855]
result

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2015
174,11855,UNIQUE,1,Hicksville,NaN,Hicksville Crm Firms,NY,Nassau County,America/New_York,516,NaN,US,40.76,-73.52,0

In [42]:
df_age_total

,client_id,RACE_DESC,ETHNICITY_DESC,PatientZip,PatientCounty,GENDER,2008,2009,2010,2011,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,21656,BLACK OR AFRICAN-AMERICAN,NOT HISPANIC OR LATINO,11520.0,Nassau,F,15.0,16.0,17.0,18.0,...,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30
1,25161,WHITE,NOT HISPANIC OR LATINO,11561.0,Nassau,F,15.0,16.0,17.0,18.0,...,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30
2,85387,WHITE,NOT HISPANIC OR LATINO,11758.0,Nassau,F,16.0,17.0,18.0,19.0,...,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0,31
3,240100,WHITE,NOT HISPANIC OR LATINO,11530.0,Nassau,F,15.0,16.0,17.0,18.0,...,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30
4,289434,WHITE,UNKNOWN,11803.0,Nassau,F,13.0,14.0,15.0,16.0,...,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1119741,25047398,UNKNOWN,UNKNOWN,11749.0,Suffolk,F,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
1119742,25047409,WHITE,UNKNOWN,11706.0,Suffolk,F,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53
1119743,25047410,WHITE,UNKNOWN,11724.0,Suffolk,M,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42
1119744,25047442,OTHER,HISPANIC OR LATINO,11726.0,Suffolk,F,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28
1119745,25047471,OTHER,UNKNOWN,11733.0,Suffolk,M,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42

In [ ]:
def calamount(df,years,start,end):
    rate = []
    for year in years:
        lst = list(df[year])
        count = 0
        for i in range(len(lst)):
            if lst[i]:
                if lst[i]<=end and lst[i]>=start:
                    count += 1
#     print(count)
        rate.append(count)
    return rate

In [ ]:

def ZipCalAmount(df,years,zips,start,end):
    
    zip_val = {}
    for zp in zips:
        tmp_df = df[df['PatientZip']==zp]
        amount = calamount(tmp_df,years,start,end)
        zip_val[zp] = np.array(amount)
    return zip_val

In [43]:
years = np.array((df_age_total.columns))[6:]
years

array(['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype=object)

## write a function. calculation each year, each zip code, popuation size.

In [ ]:
# write a function. calculation each year, each zip code, popuation size.
# input: (a dataframe, start year, end year (exclude), zipcode list (z dimension) , )
# output: a matrix (y (number of years) * z (zipcode dimension))