In [18]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import plotly.express as px

from scipy import stats

import seaborn as sns

import statsmodels.api as sm

plt.rcParams['font.family']=['Times New Roman']

In [53]:
file_address = '../Data/TableAdata.csv'

data = pd.read_csv(file_address)

In [54]:
data

,group,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Male,20574,38493,56711,77367,99946,120951,142650,163788,179135,193555,209654,225007
1,Female,55221,70823,86802,106035,126958,146873,166948,187044,202339,216664,232859,248334
2,<9,3,1,0,0,1,1,0,2,0,0,2,1
3,9-142,16458,23004,28215,36383,44374,49557,54729,58983,56735,52808,51848,51522
4,14-26,59331,86296,115183,146644,181202,214563,246876,277885,302238,322171,338127,348376
5,>=26,398208,364699,330602,290973,248423,209879,172395,137130,115027,99021,84023,74101
6,White,32635,49774,66838,86873,109218,130939,152995,174070,190051,203714,218956,233244
7,Black,6643,9529,12635,16727,21117,25031,28954,32860,35569,38436,41532,44677
8,Asian,3990,5803,7830,10642,13637,16675,20017,23285,25957,28451,31613,34801
9,Hispanic,14329,21043,29631,39846,51594,61855,72568,84262,92393,101611,112155,122192
10,Non-Hispanic,38598,58515,78026,101732,127471,152483,177657,201188,219371,234853,252642,269436
11,Total,75954,109540,143808,183751,227304,268268,310072,351339,381998,410773,443121,473995

In [55]:
list(data.loc[1][1:])

[55221,
 70823,
 86802,
 106035,
 126958,
 146873,
 166948,
 187044,
 202339,
 216664,
 232859,
 248334]

In [ ]:
years = np.arange(2012,2024)

In [68]:
p=[]
years = np.arange(2012,2024)
for i in range(0,11):
    result = OLS_regression(years,np.array(list(data.loc[i][1:])))
    p.append(result.pvalues['Year'])

3.2196439242368676e-13 P<0.0005 Linear, 时间系数显著不为零，存在线性趋势
3.0783650118305995e-14 P<0.0005 Linear, 时间系数显著不为零，存在线性趋势
0.6661272656116788 Non Linear 时间系数不显著，无法确定是否存在线性趋势
0.0003750845271768653 P<0.0005 Linear, 时间系数显著不为零，存在线性趋势
1.1805850543322658e-10 P<0.0005 Linear, 时间系数显著不为零，存在线性趋势
3.448228836063722e-09 P<0.0005 Linear, 时间系数显著不为零，存在线性趋势
8.023126098641551e-13 P<0.0005 Linear, 时间系数显著不为零，存在线性趋势
2.0572916716977509e-13 P<0.0005 Linear, 时间系数显著不为零，存在线性趋势
5.868815111208986e-14 P<0.0005 Linear, 时间系数显著不为零，存在线性趋势
1.8351647716214822e-15 P<0.0005 Linear, 时间系数显著不为零，存在线性趋势
8.75544126810022e-13 P<0.0005 Linear, 时间系数显著不为零，存在线性趋势

In [67]:
def OLS_regression(years, data):
    df = pd.DataFrame({'Year': years, 'Data': data})

    df['Constant'] = 1
    
    model = sm.OLS(df['Data'], df[['Constant', 'Year']])
    result = model.fit()
    
    # print(result.summary())
    
    p_value = result.pvalues['Year']
    if p_value < 0.0005:  
        print(p_value,"P<0.0005 Linear, 时间系数显著不为零，存在线性趋势")
    else:
        print(p_value,"Non Linear 时间系数不显著，无法确定是否存在线性趋势")
    return result