In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import plotly.express as px

from scipy import stats

import seaborn as sns

plt.rcParams['font.family']=['Times New Roman']

In [22]:
def calamount(df,years,start,end):
    rate = []
    
    print(len(df))
    for year in years:
        lst = list(df[year])
        print('year',year,',total:',len(lst))
        count = 0
        for i in range(len(lst)):
            if lst[i]:
                if lst[i]<=end and lst[i]>=start:
                    count += 1
        print(count)
        rate.append(count)
    return np.array(rate)[4:]

In [21]:
len(df_age_tdap['2018'])

929510

In [3]:
file_address = '../Data/Merged_data/Ageout_tdap.csv'

df_age_tdap = pd.read_csv(file_address)

In [23]:
years = np.array((df_age_tdap.columns))[6:]
# suffolk
df_suffolk_tdap = df_age_tdap[df_age_tdap['PatientCounty']=='Suffolk']

tdap_amount = calamount(df_suffolk_tdap,years,0,150)

429425
year 2008 ,total: 429425
19567
year 2009 ,total: 429425
40336
year 2010 ,total: 429425
61585
year 2011 ,total: 429425
83200
year 2012 ,total: 429425
103516
year 2013 ,total: 429425
125100
year 2014 ,total: 429425
155167
year 2015 ,total: 429425
187190
year 2016 ,total: 429425
221420
year 2017 ,total: 429425
256007
year 2018 ,total: 429425
292412
year 2019 ,total: 429425
337858
year 2020 ,total: 429425
376998
year 2021 ,total: 429425
429425
year 2022 ,total: 429425
429425
year 2023 ,total: 429425
429425

In [9]:
years

array(['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype=object)

In [7]:
tdap_amount

array([103516, 125100, 155167, 187190, 221420, 256007, 292412, 337858,
       376998, 429425, 429425, 429425])

In [8]:
# 问题来了！怎么会这样