In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [3]:
# Read Hpv data
file_address = '/Users/zihanding/Developer/Jupyters/EHR_proj/Data/NassauCountyHPV.csv'

df_hpv_nassau = pd.read_csv(file_address)

file_address = '/Users/zihanding/Developer/Jupyters/EHR_proj/Data/SuffolkCountyHPV.csv'

df_hpv_suffolk = pd.read_csv(file_address)

In [4]:
# Read TDAP data
file_address = '/Users/zihanding/Developer/Jupyters/EHR_proj/Data/NassauCountyTDAP.csv'

df_tdap_nassau = pd.read_csv(file_address)

file_address = '/Users/zihanding/Developer/Jupyters/EHR_proj/Data/SuffolkCountyTDAP.csv'

df_tdap_suffolk = pd.read_csv(file_address)

In [5]:
file_address = '/Users/zihanding/Developer/Jupyters/EHR_proj/Data/longislandzip.csv'

df_zipcode = pd.read_csv(file_address)

In [40]:
df_hpv_nassau

,client_id,vax_month,vax_year,RACE_DESC,ETHNICITY_DESC,PatientAge,Trade_name,PatientZip,PatientCounty,ProviderCounty,GENDER
0,9910,7,2017,WHITE,NOT HISPANIC OR LATINO,24,Gardasil 9,11756.0,Nassau,Nassau,M
1,12409,6,2019,OTHER,NOT HISPANIC OR LATINO,22,Gardasil,11590.0,Nassau,Nassau,M
2,12409,8,2019,OTHER,NOT HISPANIC OR LATINO,22,Gardasil 9,11590.0,Nassau,Nassau,M
3,21455,1,2013,ASIAN,NOT HISPANIC OR LATINO,17,Gardasil,11040.0,Nassau,New York,M
4,21656,1,2008,BLACK OR AFRICAN-AMERICAN,NOT HISPANIC OR LATINO,15,Gardasil,11520.0,Nassau,Broome,F
...,...,...,...,...,...,...,...,...,...,...,...
415193,23574745,8,2018,UNKNOWN,UNKNOWN,13,Gardasil 9,11510.0,Nassau,Nassau,F
415194,23577049,12,2019,WHITE,NOT HISPANIC OR LATINO,12,Unspecified,11791.0,Nassau,Nassau,F
415195,23577049,6,2020,WHITE,NOT HISPANIC OR LATINO,12,Gardasil 9,11791.0,Nassau,Nassau,F
415196,23577071,6,2019,ASIAN,NOT HISPANIC OR LATINO,12,Gardasil 9,11753.0,Nassau,New York,M
415197,23577071,1,2020,ASIAN,NOT HISPANIC OR LATINO,13,Gardasil 9,11753.0,Nassau,New York,M

In [41]:
print(len(df_hpv_nassau))
print(len(df_hpv_suffolk))
print(len(df_tdap_nassau))
print(len(df_tdap_suffolk))

415198
449593
420314
471029

In [11]:
# Data Samples Without zipcode
print('Nassau N/A zipcode samples in HPV:', df_hpv_nassau['PatientZip'].isnull().sum())
print('Suffolk N/A zipcode samples in HPV:', df_hpv_suffolk['PatientZip'].isnull().sum())
print('Nassau N/A zipcode samples in TDAP:', df_tdap_nassau['PatientZip'].isnull().sum())
print('Suffokl N/A zipcode samples in TDAP:', df_tdap_suffolk['PatientZip'].isnull().sum())

Nassau N/A zipcode samples in HPV: 3001
Suffolk N/A zipcode samples in HPV: 4829
Nassau N/A zipcode samples in TDAP: 2308
Suffokl N/A zipcode samples in TDAP: 3433

In [35]:
# Data Samples with zipcode not On the Long Island(Suffolk and Nassau)
zips = np.array(df_zipcode['zip'])

condition = (~df_hpv_nassau['PatientZip'].isin(zips))
print(len(df_hpv_nassau[condition]))
condition = (~df_hpv_suffolk['PatientZip'].isin(zips))
print(len(df_hpv_suffolk[condition]))
condition = (~df_tdap_nassau['PatientZip'].isin(zips))
print(len(df_tdap_nassau[condition]))
condition = (~df_tdap_suffolk['PatientZip'].isin(zips))
print(len(df_tdap_suffolk[condition]))

3321
5024
2580
3628

In [46]:
len(zips)

220

In [42]:
# Clean Data , drop N/A zipcode
df_hpv_nassau.dropna(subset=['PatientZip'], inplace=True)
df_hpv_suffolk.dropna(subset=['PatientZip'], inplace=True)
df_tdap_nassau.dropna(subset=['PatientZip'], inplace=True)
df_tdap_suffolk.dropna(subset=['PatientZip'], inplace=True)

In [43]:
print(len(df_hpv_nassau))
print(len(df_hpv_suffolk))
print(len(df_tdap_nassau))
print(len(df_tdap_suffolk))

412197
444764
418006
467596

In [44]:
# Clean Data, drop zipcode not on the Long Island
df_hpv_nassau = df_hpv_nassau[df_hpv_nassau['PatientZip'].isin(zips)]
df_hpv_suffolk = df_hpv_suffolk[df_hpv_suffolk['PatientZip'].isin(zips)]
df_tdap_nassau = df_tdap_nassau[df_tdap_nassau['PatientZip'].isin(zips)]
df_tdap_suffolk = df_tdap_suffolk[df_tdap_suffolk['PatientZip'].isin(zips)]

In [45]:
print(len(df_hpv_nassau))
print(len(df_hpv_suffolk))
print(len(df_tdap_nassau))
print(len(df_tdap_suffolk))

411877
444569
417734
467401